<div class="container-employe">
  <h3>Calendrider de : <br> {{prenom | uppercase}} {{nom}}</h3>



  <div class="calendar">
    <div class="calendar-header">
      <button class="btn btn-link" (click)="prevMonth()">&lt;</button>
      <span>{{ currentMonth }}</span>
      <button class="btn btn-link" (click)="nextMonth()">&gt;</button>
    </div>
    <div class="calendar-body">
      <div class="weekdays">
        <span class="weekday" *ngFor="let day of weekdays">{{ day }}</span>
      </div>
      <div class="days">
        <div
        class="day"
        *ngFor="let date of dates"
        (click)="selectDate(date)"
        [attr.id]="getFormattedDateId(date)">
        <p>{{ date.getDate() }}</p>
        
      </div>
      </div>
    </div>
  </div>
<div class="code-couleur">

<h2>Code couleur </h2>

<div class="inline-b">
<div class="code-couleur-details">
  <div><p class="color-code"></p></div>
  <div class="color-signification"><p>Présent</p></div>
</div></div>

<div class="inline-b">
  <div class="code-couleur-details">
    <div><p class="color-code"></p></div>
    <div class="color-signification"><p>Présent</p></div>
  </div></div>

  <div class="inline-b">
    <div class="code-couleur-details">
      <div><p class="color-code"></p></div>
      <div class="color-signification"><p>Présent</p></div>
    </div></div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code"></p></div>
        <div class="color-signification"><p>Présent</p></div>
      </div></div>


</div>



  <button>Supprimé donnée jours</button>
  <button>Traité</button>
  
      
</div>
