<div class="container-employe">
  <h1>Calendrider </h1>



  <div class="calendar">
    <div class="calendar-header">
      <button class="btn btn-link" (click)="prevMonth()">&lt;</button>
      <span>{{ currentMonth }}</span>
      <button class="btn btn-link" (click)="nextMonth()">&gt;</button>
    </div>
    <div class="calendar-body">
      <div class="weekdays">
        <span class="weekday" *ngFor="let day of weekdays">{{ day }}</span>
      </div>
      <div class="days">
        <div
        class="day"
        *ngFor="let date of dates"
        (click)="selectDate(date)"
        [attr.id]="getFormattedDateId(date)">
        {{ date.getDate() }}
      </div>
      </div>
    </div>
  </div>
  
      
</div>
