<div class="inline-b">
    <div class="card-employe">
            <div class="img-card-employe"><img src="../../assets/images/logo-DLINFO.png" alt=""></div>
            <!--ng style permet de mettre du style de manière dynamique-->
            <div class="name-card-employe" [ngStyle]="{}"><p>{{employeElementArray.prenom | titlecase }}<br>{{employeElementArray.nom | uppercase}}</p>   </div>
            <div class="button-card"><button #monBouton (click)="OnEmployeCalendrier()">Choisir</button></div>
        </div>
        </div>