
  <div class="menu">

 <div class="nav-bar1">

<div><img src="../../assets/images/logo-DLINFO.png" class="nav-bar1-icon"></div>
<div><p class="nav-bar1-text">L.NELHOMME</p></div>

 </div>
 <div class="nav-bar2">

    <p>{{NamePage}}</p>

    <ul class="nav">

        <li><a routerLink="/Acceuil" (click)="changePath('Dashboard')" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact : true}">Accueil</a></li>
        <li><a routerLink="#" (click)="changePath('Vue d\'ensemble')" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact : true}">Vue d'ensemble</a></li>
        <li><a routerLink="#" (click)="changePath('Collborateurs')" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact : true}">Collaborateur</a></li>
        
    </ul>



 </div>
  
   
  </div>