<app-menu-nav></app-menu-nav>
<div class="container-employe">
  <h3>
    Calendrier de : <br />
    {{ prenom | lowercase }} {{ nom | uppercase }}
  </h3>

  <div class="calendar">
    <div class="calendar-header">
      <button class="btn btn-link" (click)="prevMonth()">&lt;</button>
      <span>{{ currentMonth }}</span>
      <button class="btn btn-link" (click)="nextMonth()">&gt;</button>
    </div>
    <div class="calendar-body">
      <div class="weekdays">
        <span class="weekday" *ngFor="let day of weekdays">{{ day }}</span>
      </div>
      <div class="days">
        <div
          class="day"
          *ngFor="let date of dates"
        >
          <p (click)="selectDate(date)" [attr.id]="getFormattedDateId(date)">{{ date.getDate() }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="day-bouton">
    <button (click)="GestionJours()">Faire une demande</button>
  </div>

  <div class="code-couleur">
    <h2>Code couleur</h2>
    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code CP"></p></div>
        <div class="color-signification"><p>CP</p></div>
      </div>
    </div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code CR"></p></div>
        <div class="color-signification"><p>Révisions</p></div>
      </div>
    </div>


    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code AR"></p></div>
        <div class="color-signification"><p>Abs Rém</p></div>
      </div>
    </div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code ANR"></p></div>
        <div class="color-signification"><p>Abs NR</p></div>
      </div>
    </div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code CS"></p></div>
        <div class="color-signification"><p>Congé Spé</p></div>
      </div>
    </div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code CSS"></p></div>
        <div class="color-signification"><p>Congé SS</p></div>
      </div>
    </div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code ECOLE"></p></div>
        <div class="color-signification"><p>Ecole</p></div>
      </div>
    </div>


    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code PRESENT"></p></div>
        <div class="color-signification"><p>Présent</p></div>
      </div>
    </div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code DEMIJM"></p></div>
        <div class="color-signification"><p>Demi-journée MATIN</p></div>
      </div>
    </div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code DEMIJS"></p></div>
        <div class="color-signification"><p>Demi-journée SOIR</p></div>
      </div>
    </div>

    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code ABS"></p></div>
        <div class="color-signification"><p>Abs Mal</p></div>
      </div>
    </div>


    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code AT"></p></div>
        <div class="color-signification"><p>Acc Trav</p></div>
      </div>
    </div>


   


   




    <div class="inline-b">
      <div class="code-couleur-details">
        <div><p class="color-code ATT-VALIDATION"></p></div>
        <div class="color-signification"><p>Attente validation</p></div>
      </div>
    </div>

    <h3>Nombre de tickets-restaurant éligible à ce mois : </h3>
    <h2>{{nbTicket}}</h2>
  </div>
  <h1>Historique du mois</h1>
 
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Jour</th>
        <th>Mois</th>
        <th>Année</th>
        <th>Type</th>
        <th>Validation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jourItem of jour; let i = index">
        <td>{{ jourItem.idFormatLong}}</td>
        <td>{{ jourItem.jour}}</td>
        <td>{{ jourItem.mois}}</td>
        <td>{{ jourItem.annee}}</td>
        <td>{{ jourItem.type}}</td>
        <td>{{ jourItem.valide ? 'Validé' : 'En attente'}}</td>
      </tr>
    </tbody>

  </table>

  

<div class="back_popup" *ngIf="choixTypeJour">
  <div id="popup" class="popup" >
    <span class="close-btn" (click)="choixTypeJour = false">&#10006;</span>
    <div class="popup-header">
      <h2>Jour(s) sélectionné(s)</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Jour(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datetraitementItem of datetraitement; let i = index">
          <td>{{datetraitementItem}}</td>
        </tr>
      </tbody>
      </table>
      <h2>Type de journée</h2>
      <div class="option-group">
        <label class="radio-label">
          <input type="radio" class="radio-input" name="typeConge" value="CP" [(ngModel)]="typeCongeSelectionne">
          <span class="custom-radio"></span>
          <span>Congé payé</span>
        </label>
       
        <label class="radio-label">
          <input type="radio" class="radio-input" name="typeConge" value="CSS" [(ngModel)]="typeCongeSelectionne">
          <span class="custom-radio"></span>
          <span>Congé sans solde</span>
        </label>


        <label class="radio-label">
          <input type="radio" class="radio-input" name="typeConge" value="CR" [(ngModel)]="typeCongeSelectionne">
          <span class="custom-radio"></span>
          <span>Congé de révision</span>
        </label>

        <label class="radio-label">
          <input type="radio" class="radio-input" name="typeConge" value="CS" [(ngModel)]="typeCongeSelectionne">
          <span class="custom-radio"></span>
          <span>Congé spécifique (paternité, évènements familiaux, deuil ...)</span>
        </label>


        
      </div>


      <button class="btn" (click)="saveJours()">Valider</button>
    </div></div>
  </div>

  <app-loading *ngIf="loadingScreen" [message]="messageLoading"></app-loading>



