<app-menu-nav></app-menu-nav>
<div class="container-employe">


  <h2>Liste des collaborateurs</h2>
  <table>
    <thead>
      <tr>
        <th>Matricule</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Trigramme</th>
        <th>Groupe</th>
        <th>Admin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collaborateurItem of collaborateurs; let i = index">
        <ng-container *ngIf="collaborateurItem.groupe != 'ARCHIVE'">
        <td>{{ collaborateurItem.matricule | uppercase}}</td>
        <td>{{ collaborateurItem.nom | uppercase}}</td>
        <td>{{ collaborateurItem.prenom | titlecase}}</td>
        <td>{{ collaborateurItem.mail | lowercase}}</td>
        <td>{{ collaborateurItem.trigramme | uppercase}}</td>
        <td>{{ collaborateurItem.groupe | uppercase}}</td>
        <td>{{ collaborateurItem.admin ? 'OUI' : 'NON'}}</td>
        <td>
          <button (click)="modifieCollaborateur(collaborateurItem.collaborateur_id)">Modification</button>
        </td>
      </ng-container>
      </tr>
    </tbody>

  </table>


  <h2>Collaborateurs archivés</h2>
  <table>
    <thead>
      <tr>
        <th>Matricule</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Trigramme</th>
        <th>Groupe</th>
        <th>Admin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collaborateurItem of collaborateurs; let i = index">
        <!-- Ajoutez une condition *ngIf pour filtrer par groupe -->
        <ng-container *ngIf="collaborateurItem.groupe == 'ARCHIVE'">
          <td>{{ collaborateurItem.matricule | uppercase}}</td>
          <td>{{ collaborateurItem.nom | uppercase}}</td>
          <td>{{ collaborateurItem.prenom | titlecase}}</td>
          <td>{{ collaborateurItem.mail | lowercase}}</td>
          <td>{{ collaborateurItem.trigramme | uppercase}}</td>
          <td>{{ collaborateurItem.groupe | uppercase}}</td>
          <td>{{ collaborateurItem.admin ? 'OUI' : 'NON'}}</td>
          <td>
            <button (click)="modifieCollaborateur(collaborateurItem.collaborateur_id)">Modification</button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  
  
<br>
<h2>Ajouter un collaborateur</h2>
<br>
  <form #addForm="ngForm" (ngSubmit)="onAddCollaborateur()">
    <div>
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="newCollaborateur.nom" required>
    </div>
    <div>
      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="newCollaborateur.prenom" required >
    </div>

    <div>
      <label for="mail">Mail :</label>
      <input type="text" id="mail" name="mail" [(ngModel)]="newCollaborateur.mail" required >
    </div>


    <div>
      <label for="trigramme">Trigramme :</label>
      <input type="text" id="trigramme" name="trigramme" [(ngModel)]="newCollaborateur.trigramme" required>
    </div>

    <div>
      <label for="matricule">Matricule :</label>
      <input type="text" id="matricule" name="matricule" [(ngModel)]="newCollaborateur.matricule" required>
    </div>


    <div>
    <label for="groupe">Groupe :</label>
    <select [(ngModel)]="newCollaborateur.groupe" name="options" required>
      <option value="CONSULTING">CONSULTING</option>
      <option value="AGENCE">AGENCE</option>
    
    </select>
</div>


<div>
  <label for="admin">Admin :</label>
  <select [(ngModel)]="newCollaborateur.admin" name="options" required> 
    <option value="TRUE" >OUI</option>
    <option value="FALSE" [attr.selected]="true" >NON</option>
  </select>
</div>


<div>
  <label for="mdp">Mot de passe :</label>
  <input type="text" id="mdp" name="mdp" [(ngModel)]="newCollaborateur.mdp" required>
</div>


    <div>
      <button [disabled]="addForm.invalid" type="submit">Enregistrer</button>
    </div>
  </form>
  


    </div>




    <div class="back_popup" *ngIf="modification">
      <div id="popup" class="popup" >
        <span class="close-btn" (click)='fermerModification()'>&#10006;</span>
        <div class="popup-header">
          <h2>Modification collaborateur</h2>
        </div>
        <form #addForm="ngForm" (ngSubmit)="onAddCollaborateur()">
          <div>
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" [(ngModel)]="newCollaborateur.nom" required>
          </div>
          <div>
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" [(ngModel)]="newCollaborateur.prenom" required>
          </div>
      
          <div>
            <label for="mail">Mail :</label>
            <input type="text" id="mail" name="mail" [(ngModel)]="newCollaborateur.mail" required>
          </div>
      
      
          <div>
            <label for="trigramme">Trigramme :</label>
            <input type="text" id="trigramme" name="trigramme" [(ngModel)]="newCollaborateur.trigramme" required>
          </div>
      
          <div>
            <label for="matricule">Matricule :</label>
            <input type="text" id="matricule" name="matricule" [(ngModel)]="newCollaborateur.matricule" required>
          </div>
      
      
          <div>
          <label for="groupe">Groupe :</label>
          <select [(ngModel)]="newCollaborateur.groupe" name="options" required>
            <option value="CONSULTING">CONSULTING</option>
            <option value="AGENCE">AGENCE</option>
            <option value="ARCHIVE">ARCHIVE</option>
          
          </select>
      </div>
      
      
      <div>
        <label for="admin">Admin :</label>
        <select [(ngModel)]="newCollaborateur.admin" name="options" required>
          <option value="TRUE" >OUI</option>
          <option value="FALSE" [attr.selected]="true" >NON</option>
        </select>
      </div>
      
      
      <div>
        <label for="mdp">Mot de passe :</label>
        <input type="text" id="mdp" name="mdp" [(ngModel)]="newCollaborateur.mdp" >
      </div>
      
      
          <div>
            <button [disabled]="addForm.invalid" type="submit">Enregistrer modification(s)</button>
          </div>
        </form>
    
    
            <button class="btn-supprime" (click)="supprimeCollaborateur(newCollaborateur.collaborateur_id!)" >Supprimé collaborateur</button>
          </div>
    
    
          
        </div>
