<div class='containerConnexion'>
    <div class='center'>
      <div class="container-center">
       <label class="titleApp"> <img src="../../assets/images/logo-DLINFO.png" alt="logo DLInfo" class="logo"/>   <div class="catégorieApp">Espace collaborateur<p>by DLinfo</p>   </div>   </label>
        <h1 class='titleCo'>Connexion</h1>
      <form #addForm="ngForm" (ngSubmit)="connexion()">
        <label>
          Trigramme collaborateur
        </label>
        <input type="text" class="coINPUT" name="trigramme" [(ngModel)]="trigramme"/>
        <label>
          Mot de passe
        </label>
        <div class='container-input-value'>
                    <input type="password" name="password" id="mdp1" [(ngModel)]="mdp"/>
                    <img src="../../assets/images/eye-slash-solid.svg" alt=""  id ="mdp1-show"/>

                </div>
        
<div class='mdp'>
       <!-- <label> <input type="checkbox" class='iptCheck'/> Se souvenir de moi  </label> -->
        <label>Mot de passe oubliée ?</label>
      </div>    
       <button class='btnCONNEXION' type="submit">Se connecter</button>
    </form> 

   
      <p class="connexionMessageError" *ngIf="messageError">Adresse mail ou mot de passe incorrect</p>
    <a class="btnAgence" href="https://www.dlinfo.fr/">Retourner sur le site de l'agence</a>
      </div>
    </div>
  </div>

  <app-loading *ngIf="loadingScreen" [message]="messageLoading"></app-loading>
 