

/* Styles for the calendar container */
.calendar {
  width: 95%;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

/* Styles for the calendar header */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Styles for the previous and next month buttons */
.calendar-header button {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: opacity 0.2s;
}

/* Hover styles for previous and next month buttons */
.calendar-header button:hover {
  opacity: 0.8;
}

/* Styles for the month name */
.calendar-header span {
  font-size: 24px;
  font-weight: bold;
}

/* Styles for the weekdays */
.weekdays {
 display: grid;
  grid-template-rows: repeat(7, 1fr);
  padding: 20px;
}

/* Styles for each weekday cell */
.weekday {
  flex: 1;
  display: block;
  text-align: center;
  margin: 18px;
}

/* Styles for the days */
.days {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
}

/* Styles for each day cell */
.day {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
  height: 60px;
  font-size: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  
  
}

.day > p {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding-left: 5px;
}

/* Styles for the selected day cell */
.day.selected {
  background-color: #007bff;
  color: #fff;
}

/* Styles for the hovered day cell */
.day:hover:not(.selected) {
  background-color: #f1f1f1;
}

/* Optional: Styles for today's date cell */
.day.today {
  background-color: #f1f1f1;
}

/* Styles for the calendar footer */
.calendar-footer {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.calendar-body{
  display: grid;
  grid-template-columns: 0fr 1fr;
grid-template-rows: 1fr;
}



.code-couleur{
  text-align: center;
}

.code-couleur-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: auto;
  height: 50px;
  gap: 5px;
  text-align: center;
}


.color-code{
  height: 20px;
  width: 20px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}


.present {
  background-color: green;
}

.absent {
  background-color: red;
}


.Conge-ss {
  background-color: orange;
}


.demi-journe {
  background-color: green;
}

/* Style pour le tableau */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style pour l'en-tête du tableau */
thead {
  background-color: #f2f2f2;
}

thead th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

/* Style pour les cellules du tableau */
tbody td {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}

/* Style pour les boutons de suppression */
tbody button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

tbody button:hover {
  background-color: #d32f2f;
}

::ng-deep .nomCollaborateur{
  background: red;
    width: 25px;
    aspect-ratio: auto;
    border-radius: 50%;
    padding: 8px;
    color: white;
display: inline-block;
text-align: center;
border: 1px solid black;
margin: 5px;
}

