<app-menu-nav></app-menu-nav>
<div class="container-employe">
<h2>Vue d'ensemble</h2>



  <div class="calendar">
    <div class="calendar-header">
      <button class="btn btn-link" (click)="prevMonth()">&lt;</button>
      <span>{{ currentMonth }}</span>
      <button class="btn btn-link" (click)="nextMonth()">&gt;</button>
    </div>

    <table class="calendar-table">
      <tr class="weekdays">
        <td></td>
          <td class="weekday" *ngFor="let day of dates">
            {{ weekdays[day.getDay()-1] }}
          </td>
        <td class="TAC" >NB</td>
      </tr>


      <tr class="weekdays">
        <td></td>
        
          <td class="weekday" *ngFor="let date of dates">
            <p [attr.id]="getFormattedDateId(date, 'null')">
              {{ date.getDate() }}
            </p>
          </td>
     
        <td class="TAC" >TR</td>
      </tr>
        <tr class="weekdays" *ngFor="let item of listCollaborateur">
          <td class="TAC">{{item.trigramme}}</td>
          
            <td class="weekday" [attr.id]="getFormattedDateId(date, item.trigramme)" *ngFor="let date of dates">
            </td>
         <td class="TAC" [id]="'TR-'+item.trigramme "></td>
        </tr>
        <div>CONSULTING</div>
    </table>
    
<!--    

   <td class="TAC" >{{calculTR(item.collaborateur_id!)}}</td>
-->
    <div class="code-couleur">
      <h2>Code couleur</h2>
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code CP"></p></div>
          <div class="color-signification"><p>CP</p></div>
        </div>
      </div>
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code CR"></p></div>
          <div class="color-signification"><p>CR</p></div>
        </div>
      </div>
  
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code AR"></p></div>
          <div class="color-signification"><p>AR</p></div>
        </div>
      </div>
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code CS"></p></div>
          <div class="color-signification"><p>CS</p></div>
        </div>
      </div>
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code ECOLE"></p></div>
          <div class="color-signification"><p>ECOLE</p></div>
        </div>
      </div>
  
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code PRESENT"></p></div>
          <div class="color-signification"><p>Présent</p></div>
        </div>
      </div>
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code ABS"></p></div>
          <div class="color-signification"><p>Absent Maladie</p></div>
        </div>
      </div>
  
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code AT"></p></div>
          <div class="color-signification"><p>AT</p></div>
        </div>
      </div>
  
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code CSS"></p></div>
          <div class="color-signification"><p>Congé SS</p></div>
        </div>
      </div>
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code DEMIJM"></p></div>
          <div class="color-signification"><p>Demi-journée MATIN</p></div>
        </div>
      </div>
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code DEMIJS"></p></div>
          <div class="color-signification"><p>Demi-journée SOIR</p></div>
        </div>
      </div>
  
  
      <div class="inline-b">
        <div class="code-couleur-details">
          <div><p class="color-code ATT-VALIDATION"></p></div>
          <div class="color-signification"><p>Attente validation</p></div>
        </div>
      </div>
      
     <h1>Historique du mois</h1>
 
  <table>
    <thead>
      <tr>
        <th>Jours formatté</th>
        <th>Jours</th>
        <th>Mois</th>
        <th>Année</th>
        <th>Type</th>
        <th>récap</th>
      </tr>
    </thead>
    <tbody>
  
      <tr *ngFor="let jourItem of joursTableau; let i = index">
        <td>{{ jourItem.idFormatLong}}</td>
        <td>{{ jourItem.jour}}</td>
        <td>{{ jourItem.mois}}</td>
        <td>{{ jourItem.annee}}</td>
        <td>{{ jourItem.type}}</td>
        <td [attr.id]="jourItem.idFormatLong+'-tableau'"></td>
      </tr>
    </tbody>

  </table> 

<app-loading *ngIf="loadingScreen" [message]="messageLoading"></app-loading>