<div class="container-employe">

    <div class="inline-b">
<div class="card-employe">
        <div class="img-card-employe"><img src="../../assets/images/logo-DLINFO.png" alt=""></div>
        <div class="name-card-employe"><p>{{listEmploye.prenom}}<br>{{listEmploye.nom}}</p>   </div>
        <div class="button-card"><button>Gerer</button></div>
    </div>
    </div>
    
    <div class="inline-b">
        <div class="card-employe">
                <div class="img-card-employe"><img src="../../assets/images/logo-DLINFO.png" alt=""></div>
                <div class="name-card-employe"><p>{{listEmploye.prenom}}<br>{{listEmploye.nom}}</p>   </div>
                <div class="button-card"><button>Gerer</button></div>
            </div>
            </div>
            <div class="inline-b">
                <div class="card-employe">
                        <div class="img-card-employe"><img src="../../assets/images/logo-DLINFO.png" alt=""></div>
                        <div class="name-card-employe"><p>{{listEmploye.prenom}}<br>{{listEmploye.nom}}</p>   </div>
                        <div class="button-card"><button #monBouton (click)="test(monBouton)">Gerer</button></div>
                    </div>
                    </div>
                            

     
</div>

