
/* You can add global styles to this file, and also import other style files */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

  html{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(230, 230, 230);
  }

body{
    margin : 0px;
    background-color: none !important;
    padding: 0px;
}


.inline-b{
  display: inline-block;
 margin: 0px 20px 10px 20px;
 
}


.container-employe{
  display: block;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  width: 80%;
  min-height: 600px;
 margin-top: -50px;
  padding: 30px;
}




.PRESENT {
  background-color: #72C04D;
}


.ATT-VALIDATION {
  background-color: #c062eb;
}

.CP{
  background-color: #D3D3D3;
}



.AR{
  background-color: #D3D3D3;
}

.CS{
  background-color: #D3D3D3;
}

.CR{
  background-color: #D3D3D3;
}
.ABS, .AT, .ANR {
  background-color: #FF4136;
}
.ECOLE{
  background-color: #1b38f5;
}

.CSS {
  background-color: #D3D3D3;
}

.DEMIJM {
  background-color: #87CEEB;
}


.DEMIJS {
  background-color: #548193;
}

.selected{
  background-color: #1A598D;
  color: white;
}
